.wrapper {
    color: var(--color-bg-white);
}

.wrapper {
    display: grid;
    grid-template-columns: 24fr 1fr 6fr;
    gap: 5em;

    position: relative;

    background-color: var(--color-primary-blue);

    border-radius: var(--radius);

    padding: 2em 3em;

}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;    

    height: 100%;

    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.08),
            rgba(255, 255, 255, 0.03));
    transform: skewX(25deg);
    pointer-events: none;
}

.wrapper::before {
    width: 8em;
    left: 5em;
}

.wrapper::after {
    width: 2em;
    left: 2em;
    opacity: 0.6;
}

.divider {
    border-left: 1px solid var(--color-bg-white);
}

.btn {
    width: 100%;
    margin: 0.5em 0;
}

.codeBox {
    display: grid;
    grid-template-columns: 3fr 8fr;
    gap: 0.5em;
    place-items: center;

    font-weight: bold;
}

.edit {
    border: none;
    background-color: var(--color-bg-white);
    color: var(--color-secondary-blue);
    width: 2em;
    height: 2em;
    border-radius: 6px;
    cursor: pointer;

    transition: all 0.15s ease-in;
}

.edit:hover {
    transform: scale(1.1);
    color: var(--color-primary-blue);
}

.teamInfoHeading {
    display: flex;
    gap: 2.5em;
    align-items: center;
}