.wrapper {
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    gap: 0.5em;

    background-color: var(--color-primary-blue);

    border-radius: var(--radius);

    height: 50px;

    padding: 1em 2em;


    position: relative;
}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    top: -50%;
    bottom: -50%;

    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.18),
            rgba(255, 255, 255, 0.02));
    transform: skewX(-25deg);
    pointer-events: none;
}

.wrapper::before {
    width: 8em;
    right: 15em;
}

.wrapper::after {
    width: 2em;
    right: 12em;
    opacity: 0.6;
}

.logo {
    height: 100%;
    margin-right: auto
}