.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.top-navbar {
  background-color: #0047df;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  color: white;
  z-index: 1000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  width: 100%;

}

.sidebar {
  width: 100px; 
  background-color: #fff;
  border-right: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 1px;
  z-index: 5;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.02);
  flex-shrink: 0; 
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 12px 5px;
  width: 85px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 12px;
}

.sidebar-item i {
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.sidebar-item:hover {
  color: #0047df;
  background-color: #f0f5ff;
}

.sidebar-item.active {
  color: #fff !important;
  background-color: #0047df !important;
  box-shadow: 0 4px 10px rgba(0, 71, 223, 0.3);
}

.back-btn.active {
  background-color: transparent !important;
  color: #0047df !important;
  box-shadow: none !important;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px 48px;
  background-color: #f4f7fe;
}

.brand-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}
.logo-text-main {
  font-size: 1.6rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.5px;
}
.logo-text-sub {
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
}
.user-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.icon-bell {
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}
.avatar-circle {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

