.page {
    display: flex;
    flex-direction: column;
    gap: 1em;

    min-height: 100vh;

    background-color: var(--color-bg-blue);

    padding: 1em;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1em;

    padding-bottom: 1em;
}

.card {
    width: 100%;
    max-width: 750px;
    height: fit-content;

    background: white;
    border-radius: var(--radius);
    border: 1px solid var(--color-border-blue);

    padding: 2.5em 3em;
}