.page {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 1.25em;
}

.side {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}