/* src/index.css */
* {
  font-family: var(--body-font-main);
  font-size: 18px;
  
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--title-font-main);
  font-weight: 800;
  font-style: italic;
}

:root {
  /* ! Màu xanh dương */
  --color-bg-blue: #F4F8FF; 
  --color-border-blue: #C0D5FF; 
  --color-secondary-blue: #7799E3; 
  --color-primary-blue: #084CDD;
  --color-dark-blue: #002572;

  /* ! Màu cam */
  --color-bg-orange: #FFF8EE; 
  --color-border-orange: #FFD3AD;
        /* Secondary orange (cho text) dùng màu đen */
  --color-primary-orange: #FF860C;
  --color-dark-orange: #F27125;
  
  /* ! Màu xanh lá */
  --color-bg-green: #F8FFEA; 
  --color-primary-green: #0DB04B;
        /* Border green dùng lại màu primary-green*/
        /* Secondary green (cho text) dùng màu đen */
  --color-dark-green: #0F8B3E;

  /* ! Màu đen 
     - Dùng màu text chung với xanh lá và cam 
     - Hoặc dùng làm màu cho button bị disable
  */
  --color-text-primary: #343330;
  --color-text-secondary: #C0C0C0;
  --color-text-muted: #D9D9D9;

  /* ! Màu nền cho các box */
  --color-bg-white: #FFFFFF;

  /* ! Font */
  --body-font-main: 'Nunito', sans-serif;
  --title-font-main: 'Exo', sans-serif;

  /* ! Border radius */
  --radius: 20px;
  --inner-radius: 12px;
  --radius-circle: 100%;
}


.icon-label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
